<!--Search: <input ng-model="query">-->
<!--Sort by:-->
<!--<select orderProp=name ng-model="orderProp">-->
  <!--<option value="name">Alphabetical</option>-->
<!--</select>-->


<!--<ul class="items">-->
  <!--<li ng-repeat="recipe in recipes | filter:query | orderBy:orderProp">-->
    <!--<span ng-repeat="recipe in query">{{recipe.name}}</span>-->
  <!--</li>-->
<!--</ul>-->


    <div class="col-sm-4" ng-repeat="recipe in recipes | filter:query | orderBy:orderProp">
        <div class="recipe-card" style="padding-bottom: 15px;">
            <h3>{{recipe.name}}</h3>
            <a href="#/recipes/{{recipe.id}}"><img src="{{recipe.photo}}" alt="no photo"></a>
        </div>
    </div>









<!--<p>{{ recipe.description }}</p>-->
        <!--<p>{{ recipe.directions }}</p>-->
        <!--<p>{{ ingredient.name }}</p>-->