.query {
    -webkit-text-emphasis-color: #292929;
}
.navbar-fixed-top {
    background-color: white;
    color: #405264;
    opacity: 0.9;
}
.search {
    horiz-align: right;
}

body {
    background: url(img/foods.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px;
}

.recipe-pics {
    Margin: 150px 20px 30px 20px;
    border-radius: 5px;
    padding: inherit;

}
.pic {
    Margin: 30px;
    border-radius: 5px;
    border: double rgba(0, 0, 0, 0.9);
}

.recipe-card img {
    width: 100%;
    /*background-color: #ffffff;*/
}
.recipe-name {
    color: #00b3ee;
}

.addcard {
    margin: 50px 0 0 0;
}

#ingredbox {
    border-radius: 5px;
}

/*.img img {*/
    /*background: inherit;*/
/*}*/


.background {
    background-image: url(img/lined_paper.png);

}

div .row {
    padding-top: 125px;

}
.button-margin {
    margin: 0 25px;
}

.align {
    color: #03771e;
    text-shadow: 5px 5px 5px #ff0000;
    background-color: white;
}