/* app css stylesheet */

.menu {
  list-style: ;
  border-bottom: 0.1em solid #000000;
  margin-bottom: 0;
  padding: 0 0;
  background-color: white;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.navbar-default {
    /*background-color: white;*/
}

body {
    background: url(img/Flatfish-lefteyed-flounder.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.recipe-card {
    background-color: #ffffff;
    border-radius: 5px;
    padding: inherit;
}

.recipe-card img {
    max-width: 100%;
}

#card {

}