

<div class="row col-sm-offset-3">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="addcard">
            <div class="background">
                <h3 align="top">Add Recipe</h3>
                <form class="form-group">
                    <div class="cards col-sm-offset-1 col-sm-10">
                        <input id="recipe-name" class="form-control" placeholder="Name of your recipe" ng-model="recipe.name">
                    </div><br><br><br>
                    <div class="col-sm-offset-1 col-sm-10">
                        <textarea class="form-control" placeholder="Description of recipe" ng-model="recipe.description"></textarea>
                    </div><br><br><br><br>
                    <div class="col-sm-offset-1 col-sm-10">
                        <textarea class="form-control" placeholder="Directions to make recipe" ng-model="recipe.directions"></textarea>
                    </div><br><br><br>
                    <div class="col-sm-offset-1 col-sm-10">
                        <button class="btn btn-info btn-xs pull-right" ng-click="addIngredientToRecipe(ingredientName)">
                            <span class="glyphicon glyphicon-plus">Add</span></button>
                        <span ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}</span>
                        <input id="ingredient-input" class="form-control" placeholder="Ingredients" ng-model="ingredientName">
                    </div><br><br><br>
                    <div>
                        <label class="form-group">Category</label><br>
                        <button class="btn btn-info btn-xs pull-right" ng-click="addTagToRecipe(tagName)">
                            <span class="glyphicon glyphicon-plus"></span>Add</button>
                        <div ng-repeat="tag in recipe.tags">{{ tag.name }}</div>
                        <input id="tag-input" class="form-control" ng-model="tagName">
                        <div>
                            <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                        </div><br>
                    </div>
                    <div>
                        <button class="btn btn-info btn-xs" ng-click="editRecipe()"><span class="glyphicon glyphicon-cloud-upload"></span>Edit Recipe</button><br>
                        <button class="btn btn-info btn-xs" ng-click="cancel()"><span class="glyphicon glyphicon-cloud-upload"></span>Cancel</button><br>
                        <button class="btn btn-danger btn-xs" ng-click="deleteRecipe()">Delete Recipe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
