
<form>
    <div class="row col-sm-offset-3">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="addcard">
                <div class="background">
                    <div class="form-group"><br>
                        <div class="cards col-sm-offset-1 col-sm-10">
                            <input id="recipe-name" class="form-control" placeholder="Name of your recipe" ng-model="recipe.name">
                        </div><br><br><br>
                        <div class="col-sm-offset-1 col-sm-10">
                            <textarea class="form-control" placeholder="Description of recipe" ng-model="recipe.description"></textarea>
                        </div><br><br><br><br>
                        <div class="col-sm-offset-1 col-sm-10">
                            <textarea class="form-control" placeholder="Directions to make recipe" ng-model="recipe.directions"></textarea>
                        </div><br><br><br>
                        <div class="col-sm-offset-1 col-sm-10">
                            <button class="btn btn-regular btn-xs pull-right" ng-click="addIngredientToRecipe(ingredientName)">
                                <span class="glyphicon glyphicon-plus">Add</span></button>
                            <span ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}</span>
                            <input id="ingredient-input" class="form-control" placeholder="Ingredients" ng-model="ingredientName">
                        </div><br><br><br>
                        <div  class="col-sm-offset-1 col-sm-10">
                            <button class="btn btn-regular btn-xs pull-right" ng-click="addTagToRecipe(tagName)">
                                <span class="glyphicon glyphicon-plus"></span>Add</button>
                            <span ng-repeat="tag in recipe.tags">{{ recipe.tag.name }}</span>
                            <input id="tag-input" class="form-control col-md-6" placeholder="Tag for searching" ng-model="tagName">
                        </div><br><br><br>
                        <div><br>
                            <input ng-model="photo" type="file" accept="image/*" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                        </div><br>
                        <div>
                            <button class="btn btn-regular btn-xs" ng-click="addRecipe()">
                                <span class="glyphicon glyphicon-cloud-upload"></span>Save Recipe</button>
                            <button class="btn btn-danger btn-xs pull-right" ng-click="deleteRecipe()">
                                <span class="glyphicon glyphicon-cloud-upload"></span>Delete Recipe</button>
                            <button class="btn btn-regular btn-xs" ng-click="cancel()">
                                <span class="glyphicon glyphicon-cloud-upload"></span>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>